<div class='box'>
    <header>
      <h1>{{name}}'s Workout Tracker</h1>
    </header>
    <div id="createNewExcRecord">
      <form id="newExerciseForm" action="/new" method="POST">
        Exercise: <input type="text" name="exercise">
        Reps: <input type="number" min="0" name="reps">
        Weight: <input type="number" min="0" name="weight">
        Units: <input type="text" name="units" 
          value="Enter 1 for lbs, 0 for kg.">
        Date: <input type="text" name="date"
          value="YYYY-MM-DD">
        <input type="submit" name="submitNewRecord" value='Add To List'>
      </form>
    </div>
    <div id="records">
      <h3 id="recordsBanner"></h3>
      <table>
        <thead>
          <tr id="tableHeaders">
          </tr>
        </thead>
        <tbody id="exerciseRecords">
        </tbody>
      </table>
    </div>
    <footer>
    </footer>
 <!--   <script src="js/script.js" type="text/javascript"></script> -->

</div>
