<h1>Workout Tracker</h1>
<h3>Enter your name below to retrieve your list.</h3>
<form id='loginForm' action='/' method='POST'>
  <input type='text' name='loginName'>
  <input type='submit' name='submit'>
</form>
